body {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

h1 {
  grid-template-start: 3;
  grid-template-end: 5;
  color: white;
  /* text-align: center; */
  text-transform: uppercase;
  font-family: helvetica;
}

ul {
  grid-template: 3, 3, 3, 3;
  align: center;
}
